{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>
    
    <ul>
        <div class = "row mx-3">
            {% for i in list %}
                    <div class="card mx-3 text-center border-dark" style="width: 18rem;">
                        <img src="{{i.imgurl}}" class="card-img-top" alt="{{i.title}}">
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title"> {{i.title}}</h5>
                            <p class="card-text"> ₹{{i.price.bid}}</p>
                            <p class="card-text text-muted"> {{i.time}} </p>
                            <a href="{% url 'item' i.id %}" class="btn btn-primary">View Listing</a>
                        </div>  
                    </div>
                
            {%endfor%}
        </div>  
    </ul>
    
{% endblock %}